.App {
  text-align: center;
  overflow-x: auto; /* This will ensure that any horizontal overflow is scrollable */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-width: 100vw;
  width: calc(100vw + 200px);
  overflow-x: auto; /* This will allow horizontal scrolling if there is overflow */
  margin-bottom: 25vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#orgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
  border-right: solid 3px blue;
}

#orgChart .nodeLineBorderTop {
  border-top: solid 3px red;
}
